@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root{
    --bg-color: #132835;
    --second-bg-color: #193445;
    --text-color: #f0f8ff;
    --second-text-color: #bbbbbb;
    --main-color: #9c3333;
}

html{
    font-size: 62.5%;
    
}
::-webkit-scrollbar{
    background: var(--bg-color);
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;

}


/* background de estrela */
  canvas {
    position:absolute;
    width: 100%;
    height: 100%;
  }
  






body {
    background: var(--bg-color);
    color: var(--text-color)

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    position: relative;
    font-size: 2.5rem;
    color: var(--second-text-color);
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #132835;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--second-text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #132835;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 100;
   
}


.navbar a:hover,
.navbar a.ativado {
 color: var(--main-color);
} 

#menu-icon{
    font-size: 3.6rem;
    color: var(--second-text-color);
    cursor: pointer;
    display: none;
}


section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


/*Página Home*/
.home{
    display: flex;
    background: url('../js/wkice/project.json') no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 0 9%;
}



.home-image{
    background: url('../imagens/wkice\ e-sport.png');
    width: 500px;
    height: 60%;
    top: 20%;
    left: 60%;
    background-position: 20%;
    display: flex;
    position: absolute;
    align-items: center;
   background-repeat: no-repeat;
   background-size:contain;

}

.home-image::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #132835;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
   
}
.home-content{
    max-width: 60rem;
}
.home-content h1{
    position: relative;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    
}
.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #132835;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color:#9c3333;
    
}
.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #132835;
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
}

.home-content p{
     position: relative;
     font-size: 1.6rem;
     margin: 2rem 0 3rem;
}
.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #132835;
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
}

.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 50px;
}
.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #132835;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 2;
   
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 19rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #f0f8ff;
    z-index: -1;
    transition: .5s;

}

.btn-box .btn:hover:before{
    width: 100%;

}

.btn-box .btn:nth-child(2){
    background: var(--bg-color);
    color: var(--main-color);
} 
.btn-box .btn:nth-child(2):hover{
    color: var(--bg-color);
}
.btn-box .btn:nth-child(2)::before{
    background: var(--main-color);
    
} 
.btn-box .btn:nth-child(1):hover{
    
    color: var(--main-color);
} 
.btn-box .btn:nth-child(1)::before{
    background: var(--bg-color);
    
} 



.home-sci{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #132835;
    animation: showRight 1s ease forwards;
    animation-delay: 2.1s;
    z-index: 2;
   
}


.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color:var(--main-color) ;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;

}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-text-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

@keyframes showRight{ 
    100%{
        width: 0;
    }
}

/*Página Sobre*/
.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 2rem;
    background-color: var(--second-bg-color);
    padding-bottom: 6rem;
}

.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span{
    color: var(--main-color);
}

.sobre-image{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-image img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.sobre-image .circulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #193445;
    border-bottom: .2rem solid #193445;
    border-left: .2rem solid #9c3333;
    border-right: .2rem solid #9c3333;
}

.sobre-content{
    text-align: center;
}
.sobre-content h3{
    font-size: 2.6rem;
}

.sobre-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns{
    display: inline-block;
    width: 20rem;
}

.btn-box.btns a:nth-child(1)::before{
    background: var(--second-bg-color);
    
} 

/*Página Educação*/
.educacao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 10rem;
}

.educacao .educacao-row {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
}
.educacao-row .educacao-column {
    flex: 1 1 40rem;
}

.educacao-column .titulo{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.educacao-column .educacao-box{
    border-left: .2rem solid var(--main-color);
}

.educacao-box .educacao-content{
    position: relative;
    padding-left: 2rem;
}

.educacao-box .educacao-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;

}

.educacao-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.educacao-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.educacao-content .content:hover::before{
    width: 100%;
}

.educacao-content .content .year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
    font-size: 1.8rem;
}

.educacao-content .content .year i{
    padding-right: .10rem;
}

.educacao-content .content h3{
    font-size: 2rem;
}

.educacao-content .content p{
    font-size: 1.5rem;
    padding-top: .5rem;
    
}

/*Página Habilidades*/
.habilidade{
    min-height: auto;
    padding-bottom: 17rem;
    background-color: var(--second-bg-color);

}

.habilidade-linha{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}
.habilidade-linha .habilidade-coluna{
    flex: 1 1 40rem;
}
.habilidade-coluna .titulo{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.habilidade-box .habilidade-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}
.habilidade-box .habilidade-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.habilidade-box .habilidade-content:hover::before{
    width: 100%;
}

.habilidade-content .progresso{
    padding: 1rem 0;
}

.habilidade-content .progresso h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.habilidade-content .progresso h3 span{
    color: var(--text-color);
}
.habilidade-content .progresso .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border:  .2rem solid var(--main-color);
    padding: .3rem;
    margin: 1rem 0;
}

.habilidade-content .progresso .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background-color: var(--main-color);
}

/*para controlar a barra de prograsso das habilidades*/

.habilidade-coluna:nth-child(1) .habilidade-content .progresso:nth-child(1) .bar span{
    width: 80%;
}
.habilidade-coluna:nth-child(1) .habilidade-content .progresso:nth-child(2) .bar span{
    width: 80%;
}
.habilidade-coluna:nth-child(1) .habilidade-content .progresso:nth-child(3) .bar span{
    width: 40%;
}
.habilidade-coluna:nth-child(1) .habilidade-content .progresso:nth-child(4) .bar span{
    width: 55%;
}
.habilidade-coluna:nth-child(2) .habilidade-content .progresso:nth-child(1) .bar span{
    width: 90%;
}
.habilidade-coluna:nth-child(2) .habilidade-content .progresso:nth-child(2) .bar span{
    width: 80%;
}
.habilidade-coluna:nth-child(2) .habilidade-content .progresso:nth-child(3) .bar span{
    width: 65%;
}


/*Página contato*/
.contato{
    background:-webkit-image-set('canvas');
    min-height: auto;
    padding-bottom: 4rem;
}

.contato form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contato form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contato form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
.contato form .input-box .input-field input,
.contato form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    background: transparent;
    color: var(--text-color);
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.contato form .input-box .input-field input::placeholder,
.contato form .textarea-field textarea::placeholder{
    color: var(--text-color);
}

.contato form .focus{
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.contato form .input-box .input-field input:focus~.focus,
.contato form .input-box .input-field input:valid~.focus,
.contato form .textarea-field textarea:focus~.focus,
.contato form .textarea-field textarea:valid~.focus{
width: 100%;
}

.contato form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}
.contato form .textarea-field textarea{
    resize: none;
}
.contato form .btn-box.btns .btn{
    cursor: pointer;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--second-bg-color);
}

.footer-text{
    font-size: 1rem;
}

.footer-iconTop{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}
.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    z-index: -1;
    transition: .5s;

}
.footer-iconTop a:hover::before{
    width: 100%;
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i{
    color: var(--main-color);
}

